@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Inter', sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #e5e5e5;
}

.hero {
  background: url(./img/background.jpeg) center center/cover;
  height: 100vh;
}

.container {
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
}

.hero * {
  z-index: 10;
}

#main-nav {
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  padding: 1rem 0;
}

#main-nav .container h1 {
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  /* justify-self: start; */
  padding-left: 20px;
}

#main-nav .container h1:hover {
  color: #fff;
}

#main-nav .container {
  display: grid;
  grid-template-columns: 1fr 10fr;
  padding: 1rem;
  align-items: center;
  width: 100%;
  text-transform: uppercase;
}

#main-nav ul {
  display: flex;
  justify-self: end;
}

#main-nav ul li a {
  padding: 0.75rem 2rem;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  border-bottom: 3px solid transparent;
  transition: all 0.3s ease-in-out;
  text-align: center;
}

#main-nav ul li a:hover {
  color: #fff;
  border-color: #fff;
}

.message-container {
  color: #e5e5e5;
  max-width: 900px;
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.message {
  margin-bottom: 20%;
  color: #e5e5e5;
  padding: 0 10rem;
  margin-left: auto;
  margin-right: auto;
}

.message h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  margin-bottom: 10px;
}

.message p {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 25px;
}

/* Our business section */
#our-business{
  height: 100vh;
}